.complete-btn,
.delete-btn,
.add-btn {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  align-items: center;
  background-color: #166df7; /* Blue */
  border: none;
  border-radius: 5px;
  color: white;
}

.loading,
.no-tasks,
.error {
  font-size: 25px;
  color: #555;
  margin-top: 20px;
}

.add-btn:disabled,
.add-btn:disabled:hover {
  background-color: #cccccc;
  cursor: not-allowed;
}

.complete-btn:hover {
  background-color: #046c12;
}

.complete-btn {
  background-color: #1b750f;
}

.delete-btn {
  background-color: #5c0b05;
}

.delete-btn:hover {
  background-color: #8b0000;
}

.add-btn:hover {
  background-color: #0d47a1;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
.add-new-input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 768px) {
  .todo-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    margin-top: 10px;
  }

  .todo-item .todo-text {
    font-size: 18px;
    text-align: left;
  }
}
